/*  INITIAL SETTINGS --------------------------------------------------------- */

/*  The width and height properties (and min/max properties) includes 
/   content, padding and border */
* {
    box-sizing: border-box;
}

/*  Just removing default browser padding/margin */
html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*  MAIN CONTAINER of the whole app - MAIN GRID --------------------------- */

.main-container { /* see specific css for child elements*/
    height: 100vh;
    width: 100vw;
    padding: 1em;
    
    display: grid;

    column-gap: 1em;
    row-gap: 1em;
}

.child-container {
    border-width: thin;
    border-style: hidden;
    border-radius: 0.5em;

    overflow: auto; /* IMPORTANT: allows to hide overflow in child elements */
}

.child-title {
    position: relative; /* needed to correctly place its children */
}

/*  This is the same on both user and researcher, specific formatting is done
/   applying different class for different actors, through js */
.child-chat {
    padding: none;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 2em;
    grid-template-areas: 
        "chatbox"
        "newmessagebox";
}

.child-tabs {
    padding: 0;

    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "tab-selector tab-content"
        ;
}

/*  TITLE -----------------------------------------------------------------------*/

.child-title > h2 { /* page title*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  CHAT -----------------------------------------------------------------------*/

.message-list {
    grid-area: chatbox;
    list-style-type: none; /* remove dots on the items*/
    margin: 0; 
    padding: 0.5em;

    overflow: auto;
}

.message-list::-webkit-scrollbar { /* remove scrollbar */
    display: none;
}

.single-message-item {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-width: thin;
    border-style: hidden;
    border-radius: 0.5em;

    max-width: 80%;
    clear: both; /* prevent other li to potition themself right or left */
}

.foreigner-message-item { /* messages from outside*/
    float: left;
    background-color: burlywood;
}

.my-message-item { /* my messages */
    float: right;
    background-color: cornflowerblue;
}

.new-message-form {
    grid-area: newmessagebox;
    display: flex; /* prevent default to create gap between input and button */
    height: 100%;
    border-top: thin solid rgb(192, 192, 183);
}

.new-message-form input {
    height: 100%;
    width: 70%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: none;
}

.new-message-form button {
    height: 100%;
    width: 30%;
    border: none;
}

.new-message-form button:hover {
    background-color: rgb(202, 202, 202);
}

/*  TABS -----------------------------------------------------------------------*/

.tab-selector {
    grid-area: tab-selector;
    list-style-type: none; /* remove dots on the items*/
    margin: 0; 
    padding: 0;

    overflow: auto;
}

.tab-selector::-webkit-scrollbar { /* remove scrollbar */
    display: none;
}

.tab-selector li {
    cursor: pointer;
    position: relative;
    padding: 0.5em;
    padding-right: 1.5em;
    border-bottom: thin solid rgb(192, 192, 183);
    border-right: thin solid rgb(192, 192, 183);

    background-color: white;
}

.tab-selector li.selected { /* see specific css for selected tab style*/
    border-right: none;
}

.tab-selector li:hover {
    background-color: #eee;
}

.tab-selector span {
    padding: 0.3em;
    margin-right: 0.3em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

.tab-selector span:hover {
    background: #bbb;
}

.tab-content {
    grid-area: tab-content;
    padding: 0.5em;

    overflow: auto;
}

.tab-content::-webkit-scrollbar { /* remove scrollbar */
    display: none;
}

.tab-content img {
    max-width: 100%;
}