/*  BASE STYLE ------------------------------------------------------------------*/

html,
body {
    background-color: #888888;
}

/* The main child containers style - RESEARCHER SIDE*/
.child-container {
    background-color: #f0f0f0;
}

/* USER SPECIFIC MAIN CONTAINER of the whole app - MAIN GRID --------------------*/
.main-container {
    grid-template-columns: 23em auto auto;
    grid-template-rows: 3em auto 20em;
    grid-template-areas: 
        "title tasks tabs"
        "chat tasks tabs"
        "chat tasks task-manager";
}

.child-title {
    grid-area: title;
}

.child-chat {
    grid-area: chat;
}

.child-tasks {
    grid-area: tasks;
}

.child-tabs {
    grid-area: tabs;
}

.child-task-manager {
    grid-area: task-manager;
}

/*  CHAT ------------------------------------------------------------------------*/